<div class="">
<div class="topnav" id=" ">
    <a routerLink="/register"><img class="w3-bar-item" src="/images/logo.jpg" id="brand">
     <b  style="margin-top: 10px;"><font size="5" color="white"> Enrolment Form – Bharti AXA Group Health Assure</font></b>
     </a>
   </div>
                <router-outlet></router-outlet>
          

<hr>
<h4 style="color: #003399;text-align:center"><strong>Disclaimer<strong></strong></strong></h4><strong><strong> 
<footer style="!important;color:white !important;text-align: center !important;font-size: 13px !important;font-family: sans-serif;">
 <section style="padding-right: 24px;"><p style="color: #003399;">“Bharti AXA General Insurance Company Limited. Address: First Floor, Hosto Centre, No. 43, Millers Road, Vasanth Nagar, Bangalore - 560052. Corporate Office Address: 19th floor, Parinee Crescenzo, ‘G’ block, Bandra Kurla Complex, Opposite MCA Club, Bandra (E), Mumbai – 400051. IRDAI. IRDAI. Registration Number 139. CIN U66030KA2007PLC043362. Product Name: Group Health Assure. Product UIN: BHAHLGP20021V011920.”
 </p></section>
</footer>

</strong></strong></div>